.project-card{
    display: flex;
    width: 350px;
    height: 150px;
    background-color: white;
    margin:auto;
    border-radius: 15px 15px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.8s ease-in-out;
  }
  .project-card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 2);
    animation: 0.3s ease-in-out;
    cursor: pointer;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in-animation {
    animation: fade-in 1.8s ease-in-out;
  }

  .project-titre{
    margin: 20px 10px;
    font-size: larger;
    color: rgba(79, 77, 77, 0.5);
  }
  .project-cota{
    display: flex;
    flex-direction: column;
  }
  .project-Nbre{
    margin-left: 15px;
    font-size: 32px;
    font-weight: bold;
  }
  .icon-cotation{
    width: 34px;
    height: 34px;
    margin: 25px;
    color: rgb(255, 255, 255);
    
    
  }
  .project-Icon{
    margin: 40px 20px;
    width: 72px;
    height: 72px;
    background-color: #ca1a37;
    border-radius: 50%;
  }
  .project-State{
    width: 80%;
    height: 25px;
    margin-top: 7px;
    color: rgb(87, 92, 98);
  }
  .project-cot{
    color: green;
  }