.project-client {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 15%;
    padding-left: 20px;
}

.navbar-searchs {
    display: flex;
    height: 35px;
    margin-left: 20px;
    padding-top: 10px;
    color: rgb(127, 131, 138);
    border: 1px solid rgb(201, 200, 200);
    border-radius: 10px;
    cursor: pointer;
}
.navbar-searchs input {
    height: 10px;
    padding-top: 0px;
    border: solid red;
    border: none;
    outline: none;
    background-color: rgb(233, 233, 240);
}
.project-stats,
.project-stat {
    color: rgb(28, 28, 29);
    padding-top: 20px;
    font-size: larger;
}

.project-stat {
    border-bottom: 2px solid blue;
    border-width: 4px 5em thin;
}
.titles-client {
    padding-bottom: 20px;
}
.contenaire-client {
    display: flex;
    justify-content: space-between;
    padding-right: 58px;
    margin-bottom: 40px;
    margin-top: 5px;
}
.addBtn {
    padding-left: 1500px;
}