.project-heading{
   display: flex; 
   flex-direction: column;
}
.project-cards{
 display: inline-block; display: flex;
 width: 80%;
 margin: 50px 17% 0px;
 gap: 10px;
}
.project-seconcard{
    display: inline-block; display: flex;
    width: 80%;
    margin: 50px 17% 0px;
    gap: 10px;  
}
