.form-signin {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.container-form {
  margin-top: 50px;
  width: 80;
}
.champ {
  margin-bottom: 10px;
}
