.project-seconcards{
    display: flex;
    width: 350px;
    height: 200px;
    background-color: white;
    margin:auto;
    border-radius: 0px 15px 0PX 0px;
    border-left: 5px solid rgb(76, 120, 221);
    transition: box-shadow 0.8s ease-in-out;
  }
  .project-seconcards:hover {
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 2); */
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in-animation {
    animation: fade-in 1.8s ease-in-out;
  }

  .project-titres{
    margin: 20px 0px ;
    font-size: larger;
    color: rgba(79, 77, 77, 0.5);
  }
  .project-cotas{
    display: flex;
    flex-direction: column;
  }
  .project-Nbres{
    margin: 40px 0px 0px ;
    font-size: xx-large;
  }
  .icons-cotation{
    width: 34px;
    height: 34px;
    margin: 25px;
    color: rgb(255, 255, 255);
    
    
  }
  .project-Icons{
    margin: 40px 20px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }
  .project-States{
    display: flex;
    width: 80%;
    margin: 17px;
    border-bottom: 1px solid rgb(55, 138, 239);;
    color: rgb(55, 138, 239);
    cursor: pointer;
  }
  .project-cots{
    color: green;
  }