.project-seconcards{
    display: flex;
    width: 350px;
    height: 200px;
    background-color: white;
    margin:auto;
    border-radius: 0px 15px 0PX 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.8s ease-in-out;
  }
  .project-seconcards:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in-animation {
    animation: fade-in 1.8s ease-in-out;
  }

  .project-titres{
    margin: 20px 0px ;
    font-size: larger;
    color: rgba(79, 77, 77, 0.5);
  }
  .project-cotas{
    display: flex;
    flex-direction: column;
  }
  .project-Nbres{
    margin: 40px 20px 0px ;
    font-size: 25px;
  }
  .icons-cotation{
    width: 34px;
    height: 34px;
    margin: 25px;
    color: rgb(255, 255, 255);
    
    
  }
  .project-Icons{
    margin: 40px 20px;
    width: 72px;
    height: 72px;
    background-color: #0c45c0;
    border-radius: 50%;
  }
  .project-States{
    width: 80%;
    height: 25px;
    margin-top: 7px;
    color: rgb(87, 92, 98);
  }
  .project-cots{
    color: green;
  }