.project-sidebar {
    background-color: #ffffff;
    width: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .project-side{
    width: 90%;
    height: 15vh;
    padding-top: 10px;
    border-bottom: solid 1px rgb(237, 239, 240);
  }
  .project-logo{
    width: 70px;
    height: 40px;
    margin-left: 10px;
  }
  .project-users{
    width: 75%;
    height: 55px;
    margin: 20px 30px ;
    color: #c9cad2;
    text-align: center;padding-top: 30px;
    border: 1px solid rgb(237, 234, 234);
    border-radius: 10px;
  }
  
  .project-menu {
    list-style: none;
    width: 100%;
    height: 55vh;
  }
  
  .project-item, .project-setting {
    width: 100%;
    height: 50px;
    display: flex;
    color: rgb(107, 110, 113);
    margin-top: 0px;
    padding: 10px 20px 0px;
    text-decoration: none;
  }
  .project-item:hover {
    width: 100%;
    height: 50px;
    background-color:  rgb(235, 235, 243);
    color: #007bff;
    cursor: pointer;
    border-left: #007bff solid 6px;
  }
  .item{
    width: 90%;
    height: 20px;
    margin: 5px 10px 0px;
    text-decoration: none;
    color: rgb(107, 110, 113);
  }
  .project-setting{
    width: 90%;
    height: 5vh;
    color: rgb(57, 59, 60);
    padding-left: 20px;
    margin-top: 15vh;
  }
  .project-setting:hover {
    width: 100%;
    height: 50px;
    background-color: rgb(235, 235, 243);
    color: #007bff;
    cursor: pointer;
  }
  