@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}

a,
a:visited {
  color: #007ad3;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 22px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* div principale contanant la section illustration et le formulaire login */

.login-Containers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.illustration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  left: 0;
  width: 50%;
  height: 100vh;
  background: rgb(18, 38, 71);
  background: linear-gradient(
    90deg,
    rgba(18, 38, 71, 1) 0%,
    rgba(9, 14, 35, 1) 100%
  );
}

.logo {
  color: white;
  font-weight: 700;
  margin-top: 20px;
}
.app-title {
  margin-left: 10px;
  font-size: 46px;
}
.icon-logo {
  font-size: 43px;
}
.icon-illustration {
  width: 400px;
  height: 400px;
  margin-top: 120px;
  margin-right: 160px;
}

.login-form-container {
  right: 0;
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.signin-title {
  font-size: 32px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  max-width: 420px;
  margin: auto;
}

input,
.btn-signup {
  width: 350px;
  height: 50px;
  margin-top: 10px;
}
input {
  padding-left: 20px;
}

.btn-signup {
  margin-top: 20px;
  text-align: center;
  background-color: #007ad3;
  color: white;
  font-weight: 600;
}
label {
  font-size: 16px;
}

.signup-link {
  display: flex;
  font-size: 16px;
  margin-top: 20px;
}

.line {
  margin-left: 20px;
  text-decoration: none;
}

/** dashboard*/

.dash-container {
  width: 100vw;
  height: 100vw;
  background-color: #f2f2f2;
  display: flex;
}

.dash-sideBare {
  width: 15%;
  height: 100%;
  background-color: #fdfdfd;
}
.dash-sideBare_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4%;
}

.dash-main {
  width: 85%;
}

.header-bar {
  height: 4%;
  background-color: #fdfdfd;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
}
.header-bar-search {
  width: 70%;
}
.search-container {
  width: 50%;
}
.header-bar-avatar {
  width: 30%;
}
.header-bar-avatar--avatar {
}
.header-bar-avatar--notification {
}

.nav-bar {
}
